body{
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(to right, red , yellow);
	font-family: 'Merriweather Sans', sans-serif;
}


h1{
	font-size:4em;
	text-align: center;
}

h2{
	font-size: 0.7em;
	text-align: center;
	
}

h3{
	font-size: 0.7em;
	text-align: center;
	text-decoration: underline;
}